.auth-form {
    align-self: center;
    padding: 1em 2em;
    border-radius: 0.5em;
    margin-top: 2em;
    background-color: var(--color-lightergray);
}

.auth-form form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.auth-form h2 {
    margin-bottom: 1em;
}
