.courses {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    overflow-x: auto;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.course {
    display: flex;
    flex-direction: column;
    width: 20em;
    min-width: 20em;
    border-radius: 0.5em;
    background-color: var(--color-lightergray);
    cursor: pointer;
    padding-bottom: 1em;
}

.course .color {
    background-color: var(--color);
    height: 4em;
    border-radius: 0.5em 0.5em 0 0;
}

.course .info {
    flex: 1;
}

.course .title {
    font-weight: 500;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.course .creator {
    opacity: 0.7;
    padding-left: 1em;
}
