{% extends "layout.html" %} {% block title %}{{course.name}}{% endblock %} {%
block course_title %}{{course.name}}{% endblock %} {% block content %}
<div class="course-page">
    <div class="outline">
        {% for article in articles %} {% if current_article and article.id ==
        current_article.id %}
        <div class="outline-item current" onclick="setParam('article', {{article.id}})">
            {{article.title}}
        </div>
        {% else %}
        <div class="outline-item" onclick="setParam('article', {{article.id}})">
            {{article.title}}
        </div>
        {% endif %} {% else %}
        <div class="text-disabled">Ei artikkeleja.</div>
        {% endfor %}
    </div>
    <div class="content" id="article-content">
        {% if current_article %}
        <h1>{{current_article.title}}</h1>
        {{current_article.content}} {% else %}
        <div class="text-disabled">Valitse artikkeli vasemmalta.</div>
        {% endif %}
        <div class="exercises">
            {% for text_exercise in text_exercises %}
            <div
                class="exercise text 
                {% if text_exercise.completed %}completed{% endif %}
                "
                id="text-{{text_exercise.id}}"
            >
                <div class="top"></div>
                <div class="question">{{text_exercise.question}}</div>
                <form action="/answer/{{text_exercise.id}}" method="post">
                    <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                    <input type="text" name="answer" />
                    <input
                        type="hidden"
                        name="course_article_id"
                        value="{{current_article.id}}"
                    />
                    <input
                        type="hidden"
                        name="course_id"
                        value="{{course.id}}"
                    />
                    <input type="submit" value="Tarkista" />
                </form>
                {% if text_exercise.completed %}
                <div class="answer">{{text_exercise.answer}}</div>
                {% endif %}
            </div>
            {% endfor %} {% for choice_exercise in choice_exercises %}
            <div
                class="exercise choice {% if choice_exercise.0.completed %}completed{% endif %}"
                id="choice-{{choice_exercise.0.id}}"
            >
                <div class="top"></div>
                <div class="question">{{choice_exercise.0.question}}</div>
                <form action="/answer/{{choice_exercise.0.id}}" method="post">
                    <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />
                    <div class="choices">
                        {% for choice in choice_exercise.1 %}
                        <div>
                            <input
                                type="radio"
                                name="answer"
                                value="{{choice.id}}"
                                id="{{choice_exercise.0.id}}-{{choice.id}}"
                                required
                            />
                            <input
                                type="hidden"
                                name="course_article_id"
                                value="{{current_article.id}}"
                            />
                            <input
                                type="hidden"
                                name="course_id"
                                value="{{course.id}}"
                            />
                            <input type="hidden" name="choice" />
                            <label for="{{choice_exercise.0.id}}-{{choice.id}}"
                                >{{choice.label}}</label
                            >
                        </div>
                        {% endfor %}
                    </div>
                    <input type="submit" value="Tarkista" />
                </form>
                {% if choice_exercise.0.completed %}
                <div class="answer">
                    {% for choice in choice_exercise.1 %}
                    <div
                        class="choice {% if choice.is_correct %}correct{% endif %}"
                    >
                        {{choice.label}}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="settings">
        <input
            tabindex="-1"
            type="range"
            name="font-size"
            min="50"
            max="200"
            value="100"
            oninput="changeFontSize(event)"
        />
        <label for="font-size"><i class="fa-solid fa-font"></i></label>
    </div>
    <a href="/stats/{{course.id}}" class="stats"><i class="fa-solid fa-chart-simple"></i></a>
</div>

{% if incorrect %}
<script>
document.getElementById("{{incorrect}}").classList.add('incorrect');
</script>
{% endif %}

{% endblock %}
